main {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
}

header {
  display: grid;
  justify-content: center;
}

.plants {
  background-color: beige;
  width: 100%;
}

.list {
  display: grid;
  
}

.add2Cart {
  width: 7em;
}

.inList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: min-content;
}